.BookShelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.BookShelfHeader {
  width: 100%;
  margin: 10px;
}

.BookShelfBody {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.BookShelfItem {
  margin: 0 10px 20px 10px;
  border: 1px solid #ccc;
  width: 200px;
  height: 300px;
}

.BookShelfItemBook {
  width: 100%;
  height: 100%;
}

.BookShelfItemBook h3 {
  margin: 8px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.BookShelfItemBook p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.BookShelfItemButton {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
