.BookShelf {
  display: flex;
  flex-direction: column;
}

.BookShelfHeader {
  width: 100%;
  margin: 10px;
}

.BookShelfBody {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.BookShelfItem {
  margin: 0 10px 20px 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.BookShelfItemBook h3 {
  margin-top: 5px;
}
