.BodyLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30px);
  width: 100%;
  margin: 0;
}

.loginComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.loginComponent h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.loginComponent button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.loginComponent button:hover {
  background-color: #d6d6d6;
}

.loginComponent-icon {
  margin-right: 10px;
}

.BookIcon {
  font-size: 40px;
  margin-right: 40px;
}
