body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  max-width: 1400px;
}

/* ナビゲーションバー */
.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

/* 各タブ */
.nav-item {
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #ccc;
  color: #008000;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  position: relative;
  padding: 5px 0;
}

/* アクティブタブのスタイル */
.nav-item.active a {
  font-weight: bold;
  color: #008000;
}

/* アクティブタブの下線 */
.nav-item.active a::after {
  content: "";
  position: absolute;
  background-color: #008000;
  border-radius: 2px;
  font-weight: bold;
}

/* ホバー時のスタイル */
.nav-item a:hover {
  color: #006400;
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0 10px;
  }

  .nav-item a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .nav-item {
    margin: 5px;
  }

  .nav-item a {
    font-size: 10px;
  }
}
