body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  max-width: 1400px;
}

.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 10px 0;
  margin: 0;
}

.userBar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 20px;
}

.userBar button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background: #ee5757;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.userBar button:hover {
  background: #f32323;
  transform: scale(1.05);
}

.userBar button:active {
  background: #f32323;
  transform: translateY(2px);
}

.logoutButton {
  /* font-size: 20px; */
  margin-right: 5px;
}

.userBar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userBar p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
}

/* 各タブ */
.nav-item {
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #ccc;
  color: #008000;
}

.nav-item button {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  position: relative;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* アクティブタブのスタイル */
.nav-item.active button {
  font-weight: bold;
  color: #008000;
}

/* アクティブタブの下線 */
.nav-item.active button::after {
  content: "";
  position: absolute;
  background-color: #008000;
  border-radius: 2px;
  font-weight: bold;
}

/* ホバー時のスタイル */
.nav-item button:hover {
  color: #006400;
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0 10px;
  }

  .nav-item button {
    font-size: 12px;
  }

  .userBar img {
    display: none;
  }

  .userBar p {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .nav-item {
    margin: 5px;
  }

  .nav-item button {
    font-size: 10px;
  }
}
